{% extends './base.html' %}

{% block contents %}
<div id="wrap" class="clearfix">
    <div class="content">
        <div class="main">
            <section class="career">
            <h1>メニュー登録</h1>
            <form method="POST">
                <table>
                    {{ form }}
                </table>
                {% csrf_token %}
                <button class="button" type="submit">登録</button>
            </form>
        </section>
        <table>
            <tr>
                <td>
                    <p class="btn">戻る</p>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}